<div th:fragment="footer">

<footer class="">
    <style>
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: #6b6b6b;
        }
       footer {
             position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
              padding: 1rem;
              background-color: #efefef;

       }
       p{
        margin-right: auto
       }
    </style>

    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Назад наверх</a>
        </p>
        <p class="">P.S. За пиво, фоткать не буду</p>
        <p class="">
            Все права защищены © 2022 век
        </p>
    </div>
</footer>

</div>
