<div th:fragment="footer">

<footer class="text-muted py-5">
    <style>
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: #6b6b6b;
        }
       footer {
           position:relative;
           left:0px;
           bottom:20px;
           height:0px;
           width:100%;
       }
</style>
    </style>
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Назад наверх</a>
        </p>
        <p class="-mb-1">P.S. За пиво, фоткать не буду</p>
        <p class="mb-0">
            Все права защищены © 2022 век
        </p>
    </div>
</footer>

</div>
